{% extends "layout.html" %}
{% set active_page = "about" %}
{% block title%} About {% endblock %}

{% block main %}


<div class="container-fluid padP">
    <div class="container ">
        <div class="container-inner">
            <h1>Nous sommes</h1>
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aperiam non saepe, maxime esse qui quasi commodi libero neque nisi architecto temporibus blanditiis, eaque voluptate consequatur impedit repudiandae. Modi, et! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab doloremque molestiae suscipit nemo culpa eveniet fugiat quos, nihil illum reprehenderit illo modi earum quasi, provident architecto aliquid, voluptatum repellendus dolor! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quam voluptatum, facere, quos quisquam excepturi! Dolores nostrum consectetur illo eaque possimus, eligendi, soluta dicta perferendis, minima nulla explicabo corporis magnam.</p>
            <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur . quis,  eligendi eveniet, rerum. Maxime perspiciatis officiis harum quibusdam, cupiditate eius aliquid est!
            </p><br>
            <div style="height: 6px"></div>
        </div>
    </div>
</div>


{% endblock %}