{% extends "layoutBookUser.html" %}
{% block title %} {% endblock %}
{% block main %}
            <div class="row">
<!--                 <div class="col-lg-6">
                    <img src="static/images/ph_bcover1.png" class="img-fluid">
                </div> -->

                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <img src="static/images/ph_bcover1.png"  class="card-img-top img-fluid image-cover">
                        <div class="card-body text-center">
                            <h4 class="card-title">Rate this book</h4>
                            <!-- <p class="card-text">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </p> -->
                            <div class="stars">
                                <fieldset class="rating">
                                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                                </fieldset>
                            </div>
<!--                             <a href="#" class="btn btn-outline-secondary">See Profile</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-1"></div>
                <div class="col-md-12 col-lg-7 ">
                   <div class="card card-body bg-light infoCard">
                        <table class="align-middle">
                        <tr>
                            <td>ISBN: </td>
                            <td>93409430h4</td>
                        </tr>
                        <tr>
                            <td>Title: </td>
                            <td>Book Title</td>
                        </tr>
                        <tr>
                            <td>Author: </td>
                            <td>John doe</td>
                        </tr>
                        <tr>
                            <td>Rate: </td>
                            <td><span class="rate">4.5</span>  /5 <span class="fa fa-star checked"></span></td>
                        </tr>
                    </table>

                    <h2>Description</h2>
                    <p class="lead">
                        NEW YORK TIMES BESTSELLER • An uplifting holiday gift from the creator and star of Hamilton, with beautiful illustrations by Jonny Sun, comes a book of affirmations to inspire readers at the beginning and end of each day.
                    </p>
                   </div>
                </div>
        
            </div>
            <hr class="my-4">
<!-- Comment form -->
            <h2>Comments</h2>
            <form >
                <div class="row comment">
                      <div class="form-group col-lg-10 ">
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Write a comment..." rows="3"></textarea>
                      </div>
                      <button type="submit" class="btn btn-lg btn-outline-secondary col-lg-2 txtAreaButton">Post</button>
                </div>
            </form>
            <hr>
<!-- Comments  -->
            <div class="row  comment">
                <div class="col-lg-1">
                    <img class="pHolderImage" src="static/images/userP.png">
                </div>
                <div class="card col-lg-11 bg-light">
                    <div class="card-block ">
                        <p class="lead">
                            NEW YORK TIMES BESTSELLER • An uplifting holiday gift from thrations Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro facilis quis ratione voluptates modi, aliquid doloremque autem. Esse placeat aliquam, officia, ab praesentium at magnam. Distinctio molestias placeat minima maxime?
                        </p>
                    </div>
                </div>
            </div>
            <hr>
{% endblock %}  



