{% extends "layout.html" %}
{% set active_page = "contact" %}
{% block title%} Contact {% endblock %}

{% block main %}


<div class="container-fluid padP">
    <div class="container ">
        <div class="container-inner">
            <h1>Bienvenue</h1>
            <p>If you want to contact us, you can reach us, using informations below.</p>
            <h3>Address: </h3>
            <p>Complex Ahram
                block D Etage 5
                N: 33
            </p>
            <h3>Mail: </h3>
            <p>
                Email: bazinga@gmail.com
            </p>
            <h3>Telephone: </h3>
            <p>
                Tele 1: 0612345678<br>
                Tele 2: 0613576457
            </p><br>
            <br>
        </div>
    </div>
</div>


{% endblock %}