{% extends "layout.html" %}
{% set active_page = "index" %}

{% block title%} Home {% endblock %}

{% block main %}


      <section class="jumbotron text-center jumboBack" >
      <a href={{url_for('login')}} style="{% if session['user'] %} visibility: hidden;{% endif %}"><button type="button" class="btn btn-outline-dark btn-lg colorIt">Sign in</button></a>
      <a href={{url_for('sign_up')}} style="{% if session['user'] %} visibility: hidden;{% endif %}"><button type="button" class="btn btn-dark btn-lg">Register</button></a>


        <div class="container">
          <h1 class="jumbotron-heading colorIt">Book Finder {# {% if session['user'] %} {{session['user'].uname}} {% endif %} #}</h1>
          <p class="lead text-muted colorIt leading_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam quibusdam dolores quae. Soluta libero, fuga reprehenderit id porro doloribus, ipsum reiciendis sint magnam architecto sed harum ex nam quia tempore.</p>
         <div class="input-group">
                <input class="form-control border-secondary py-3" type="search" placeholder="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="fa fa-search colorIt"></i>
                    </button>
                </div>
            </div>
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h1>Most Recent Books</h1>
                <hr style="border: 4px solid grey;">
            </div>
          </div>
          <div class="row">
            {% for book in books %}
              <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                  <img class="card-img-top img-thumbnail" src="static/images/img-placeholder.png" alt="">
                  <div class="card-header text-center">{{book.title}}</div>
                  <div class="card-body">
                    <p class="card-text"></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">More info</button>
                      </div>
                      <small class="text-muted">{{book.year}}</small>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   {% endblock %}


