{% extends "layoutBookUser.html" %}
{% block title %} {% endblock %}
{% block main %}
            <div class="row">
<!--                 <div class="col-lg-6">
                    <img src="static/images/ph_bcover1.png" class="img-fluid">
                </div> -->

                <div class="col-md-12 col-lg-4">
                    <div class="card">
                        <img src="static/images/userP.png"  class="card-img-top img-fluid image-cover">
                        <div class="card-body text-center">
                            <h4 class="card-title">John Doe</h4>


                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-1"></div>
                <div class="col-md-12 col-lg-7 ">
                   <div class="card card-body bg-light infoCard">
                        <table class="align-middle">
                        <tr>
                            <td>Name: </td>
                            <td>John Doe</td>
                        </tr>
                        <tr>
                            <td>Mail: </td>
                            <td>john.doe@mail.com</td>
                        </tr>
                    
                    </table>

                   </div>
                </div>
        
            </div>
            <hr class="my-4">
            <div  style="height: 276px"></div>
{% endblock %}  